# 阿里云 npm 镜像（npmmirror）
registry=https://registry.npmmirror.com/

# Electron 二进制与打包工具下载镜像（无需再手动设置环境变量）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
